
        
<section class="cls-section-thanks" id="id-section-thanks">
    <img src="/images/thanks.png"s alt="thanks logo" class="cls-thanks-img">
    <p>Thank you for your online order</p>
    <p>We are committed to provide you with best services</p>
</section>





